 {{!-- /************************************************************************************
* WEB322 – Project (Winter 2022)
* I declare that this assignment is my own work in accordance with Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Name: Prabhleen Kaur
* Student ID: 146094206
* Course/Section: WEB322/NDD
*
************************************************************************************/ --}}

 {{!-- ------------------- Footer ----------------  --}}
<footer>
    <a href = "/">
        <img src = "\images\grab-hub_full_1593168931 (1).jpg"/>
    </a>
    <div class = "footer">
        <p> Home | On The Menu | Buy Gift cards | Redeem credit points | FAQs | Support and Help  </p>
        <hr><br>
    <p1>Copyright &copy Winter 2022, Prabhleen Kaur, WEB322 NDD</p1><br>
</div>

    <p2> Follow us ON <br>
        <img src = "\images\insta.jpeg"/>
        <img src = "images\twitter.jpeg"/>
        <img src = "images\fb.jpeg"/>
    </p2>
</footer>