  {{!-- /************************************************************************************
* WEB322 – Project (Winter 2022)
* I declare that this assignment is my own work in accordance with Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Name: Prabhleen Kaur
* Student ID: 146094206
* Course/Section: WEB322/NDD
*
************************************************************************************/ --}}

 {{!-- ----------- Header --------------  --}}
    <header>        
        <a href = "/">
            <img src = "\images\grab-hub_full_1593168931 (1).jpg"/>
        </a>

 {{!-- ----------- Navigation Bar -----------  --}}
        <nav class = "navBar">
                <ul>
                    <li>
                        <a href = "/"> Home</a>
                    </li>
                    <li>
                        <a href = "/Menu"> On The Menu</a>
                    </li>
                    <li>
                        <a href = "#fresh"> Fresh Deals</a>
                    </li>
                    <li>
                        <a href = "#top"> Top Collections</a>
                    </li>
                    <li>
                        <a href = "#dining"> Dining Deals</a>
                    </li>
                    <li>
                        <a href = "#membership"> Memberships</a>
                    </li>
                    <li>
                        <a href = "#discount"> Discounts</a>
                    </li>
                    <li>
                        <a href = "/Login">
                        <button class = "login-btn"> Login </button>
                        </a>
                    </li>
                    <li>
                        <a href = "/Registration">
                        <button class = "Sign-up-btn"> Sign Up</button>
                    </a>
                    </li>

                </ul>
            </nav>
    </header>
