 {{!-- /************************************************************************************
* WEB322 – Project (Winter 2022)
* I declare that this assignment is my own work in accordance with Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Name: Prabhleen Kaur
* Student ID: 146094206
* Course/Section: WEB322/NDD
*
************************************************************************************/ --}}

{{!-- ------------------- Hero Section ----------------------  --}}


<main>
    <video controls>
        <source src = "\videos\pexels-rodnae-productions-7782528.mp4" type = "video/mp4">
    </video>
</main>

 {{!-- ------------------------- Content Section --------------------------------  --}}


         {{!-- --------- Exclusive Offer -------------  --}}
<section>
    <h1>Exclusive Offer!!</h1>
    <h2>Claim <span class = "highlight"> 55% </span> off on $100 above purchase and <span class = "highlight"> Free delivery </span> on your First Order</h2>
    <h2 class = "order"> Hurry Up and Order Now</h2>
    <button class = "order-btn"> ORDER NOW </button>
</section>


  {{!-- --------------- What we Offer? ---------------  --}}
<section class = "offers">
    <h1>What We Serve?</h1>
    <div class = "grid">
        <div class = "service">
            <video controls>
                <source src = "\videos\safety-precautions.mp4" type = "video/mp4">
            </video>
            <div><h3>We care for you</h3></div>
            <p>We spray and sanitize the bags before <br>they are set to go for delivery. </p>
        </div>
        <div class = "service">
            <video controls>
                <source src = "\videos\delivery.mp4" type = "video/mp4">
            </video>
            <div><h3>Stay Home,     We Deliver</h3></div>
            <p>Order your food online and we will <br>deliver it at your door steps.</p>
        </div>
        <div class = "service">
            <video controls>
                <source src = "\videos\reservation.mp4" type = "video/mp4">
            </video>
            <div><h3>Reserve your place now</h3></div>
            <p>We offer online bookings facility for <br> special occasions. You reserve, eat, review <br>and share your best of the best. </p>
        </div>
        <div class = "service">
            <video controls>
                <source src = "\videos\service.mp4" type = "video/mp4">
            </video>
            <div><h3>24/7 hours Open for <br> your service</h3></div>
            <p> We are open 24 hours for you. <br> Get the excellent services and taste<br> the delicious food from our chefs. </p>
        </div>
    </div>
</section>


{{!--   --------------- Top Collections -------------  --}}

<section class = "collections">
    <h1>Top Collections</h1>
    <div class = "deals">
        <div class = "top">
            <img src="\images\biryani.jpeg" alt="Biryani" />
            <div> <h4>Add Biryani </h4> </div>
                <p>in your meal when you need flavour</p>
                <button class ="price">$12.99</button>
        </div>
        <div class = "top">
            <img src="\images\vegan-3.jpg" alt="Pizza" />
            <div> <h4>Pancakes</h4> </div>
                <p>With sizzling maple syrup and<br> raspberries</p>
                <button class ="price">$6.79</button>
        </div>
        <div class = "top">
            <img src="\images\classic-2.jpg" alt="tacos" />
            <div> <h4> Asparagus Steak Veal</h4> </div>
                <p>Crispy meat seasoned in tomatoes <br>and asparagus</p>
                <button class ="price">$38.99</button>
        </div>

    </div>
</section>

        {{!--  --------------- Dining Deals --------------  --}}

<section class = "collections">
            <h1>Dining Deals</h1>
            <div class = "deals">
                <div class = "top">
                    <img src="\images\indian.jpeg" alt="Indian Food" />
                    <div> <h4> Indian Cuisine </h4> </div>
                        <p>Get family dining with Indian <br> Thaali and bind together.</p>
                        <button class ="price">$19.89</button>
                </div>
                <div class = "top">
                    <img src="\images\vegan-1.jpg" alt="Meal-Kit" />
                    <div> <h4>Meal Kit</h4> </div>
                        <p>Get 20% off on breakfast </p>
                        <button class ="price">$11.99</button>
                </div>
                <div class = "top">
                    <img src="\images\smoothie.jpeg" alt="Smoothies" />
                    <div> <h4> Smoothies</h4> </div>
                        <p>Purchase one and get another for free</p>
                        <button class ="price">$6.19</button>
                </div>
        
            </div>
</section>        

{{!--  ---------- Coming Soon -------------  --}}
<section class = "comingSoon">
    <h1>Family Day Specials</h1>
    <p>Cheer your bond on Feb 21.</p>

    <div class = "specials">
        <div class = "food">
            <video controls>
                <source src = "\videos\family.mp4" type = "video/mp4">
            </video>
        </div>
        <div class = "food">
            <video controls>
                <source src = "\videos\music.mp4" type = "video/mp4">
            </video> 
        </div>
        <div class = "food">
            <video controls>
                <source src = "\videos\family-1.mp4" type = "video/mp4">
            </video> 
        </div>
    </div>

</div>
    <div class = "soon">
        <img src = "\images\coming-soon-4342501__340.webp">
    </div>
</section>