{{!-- /************************************************************************************
* WEB322 – Project (Winter 2022)
* I declare that this assignment is my own work in accordance with Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Name: Prabhleen Kaur
* Student ID: 146094206
* Course/Section: WEB322/NDD
*
************************************************************************************/ --}}

{{>header}}

<section class = "welcome">
    <h1>Welcome to GrabHub food delivery Website</h1>
    <p>Make your orders while sitting home and get fastest delivery!!</p>
    <div class = "contain">
        <video controls>
                <source src = "\videos\onlineOrder.mp4" type = "video/mp4">
        </video>
    </div>
        <div class = "contain">
        <video controls>
                <source src = "\videos\delivery.mp4" type = "video/mp4">
        </video>
    </div>
</section>

{{>footer}}
