 {{!-- /************************************************************************************
* WEB322 – Project (Winter 2022)
* I declare that this assignment is my own work in accordance with Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Name: Prabhleen Kaur
* Student ID: 146094206
* Course/Section: WEB322/NDD
*
************************************************************************************/ --}}

{{>header}}
<section class="menu">
    {{#each kits}}
    <div class="heading">
        <br><h2>---------------------------------</h2><h2>{{CategoryName}}</h2><h2>---------------------------------</h2><br>

    </div>
    <div class="kits">
        {{#each MealKits}}
         {{>card this}}
        {{/each}}
    </div>
    {{/each}}
    <br>
</section>
{{>footer}}